.add-todo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30vw;
  display: flex;
  flex-flow: column nowrap;
  background: var(--ternary);
  border-left: var(--border-width) solid var(--primary);
  padding: 1rem;
}

.add-todo__heading {
  color: var(--primary);
  font-weight: 700;
}

.add-todo__input {
  font-size: 1.05rem;
  background: transparent;
  border: 0;
  padding: 0.5rem;
  border-bottom: var(--border-width) solid var(--primary);
  margin-bottom: 1rem;
}

.add-todo__input-group button {
  margin-right: 1rem;
}

@media (max-width: 40rem) {
  .add-todo {
    width: 90vw;
  }
}
