.todos {
  margin-bottom: 1rem;
}

.todos__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin-bottom: 3.5rem;
}

.todos__heading {
  font-weight: 700;
  color: var(--primary);
  font-size: var(--font-size-subtitle);
}

