:root {
  --font: 'Poppins', sans-serif;
  --primary: #368F8B;
  --primary-darken: #246A73;
  --secondary: #160F29;
  --ternary: #eee;
  --black: #222;
  --white: #fff;
  --border-radius: 0.25rem;
  --border-width: 0.05rem;
  --font-size-title: calc(2rem + 2vw);
  --font-size-subtitle: calc(1.25rem + 2vw);
}

body {
  margin: 0;
  font-family: var(--font);
  color: var(--white);
}

.container {
  width: 100vw;
  height: 100vh;
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: var(--white);
  padding: 0.33rem 1rem;
  border: 0.05rem solid var(--ternary);
  border-radius: var(--border-radius);
  color: var(--black);
  cursor: pointer;
}

.button--primary {
  background: var(--primary);
  color: var(--ternary);
}

.button--primary:hover {
  background: var(--primary-darken);
  color: var(--ternary);
}

.button--disabled {
  cursor: not-allowed;
}
