body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #efefef;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #160F29;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: #fff;
  padding: 0.33rem 1rem;
  border: 0.05rem solid #eee;
  border-radius: 0.25rem;
  color: #222;
  cursor: pointer;
}

.button-primary {
  background: #368F8B;
  color: #eee;
}

.button-primary:hover {
  background: #246A73;
  color: #eee;
}
